.container {
  position: relative;
  height: 700px;
}
.tag-line {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.typed-text {
  font-size: 40px;
  font-weight: 500;
}
